.with_animation {
  animation: move 0.5s;
  position: relative;
}

/* CHECKBOX */
.checkbox_container {
  display: inline-block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 16px;
  user-select: none;
}

.custom_checkbox {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 21px;
  width: 21px;
  background-color: #eee;
  border-radius: 4px;
  transition: background-color 0.3s;
  box-shadow: 0 2px 5px var(--shadow);
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
  left: 8px;
  top: 5px;
  width: 6px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}

.custom_checkbox:checked ~ .checkmark {
  background-color: var(--primaryColor3);
  box-shadow: 0 3px 7px var(--shadow);
}

.custom_checkbox:checked ~ .checkmark:after {
  display: block;
}

.custom_checkbox:checked ~ .checkmark:after {
  animation: checkAnim 0.2s forwards;
}


@keyframes move {
  from {
    opacity: 0;
    bottom: -50px;
  }
  to {
    opacity: 1;
    bottom: 0px;
  }
}

@keyframes checkAnim {
  0% {
    height: 0;
  }

  100% {
    height: 10px;
  }
}