.container_slider::-webkit-scrollbar {
  width: 8px;  
  height: 12px;
}

.container_slider::before {
  content: '';
  position:sticky;
  top: 0px;
  left: 0px;
  background-image: linear-gradient(to right, var(--secondaryColor1), var(--transparent));
  width: 10px;
  min-width: 50px;
  height: 400px;
  z-index: 10;
}

.container_slider::after {
  content: '';
  position:sticky;
  top: 0px;
  right: 0px;
  background-image: linear-gradient(to right, var(--transparent), var(--secondaryColor1));
  width: 10px;
  min-width: 50px;
  height: 400px;
}

.container_slider::-webkit-scrollbar-thumb {
  background: var(--whiteColor);
  border-radius: 4px;
}

.container_slider::-webkit-scrollbar-track {
  background: var(--secondaryColor1);
  border-radius: 0px;
}

@media only screen and (max-width: 1023px) {
	.container_slider::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
}