@tailwind base;
@tailwind components;
@tailwind utilities;

:root {

  --primaryColor: #781E54;
  --primaryColorSoft: #eee1e9;
  --textColor: #363636;
  --whiteColor: #ffffff;
  --whiteColorTransparent: #ffffffec;
  --greyColor: #aaaaaa;

  background-color: white;
  color: var(--textColor);
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
