@tailwind base;
@tailwind components;
@tailwind utilities;

:root {

  --primaryColor1: #b88bad;
  --primaryColor2: rgb(233, 197, 165);
  --primaryColor2Soft: rgba(233, 197, 165, 0.651);
  --primaryColor3: #F4E2D2;
  --transparent: #f4e2d200;
  --primaryColor4: rgb(249, 240, 231);
  --primaryColor5: rgb(252, 247, 242);
  --textColor: rgb(95,57,26);
  --whiteColor: #ffffff;
  --whiteColorTransparent: #ffffffec;
  --greyColor: #aaaaaa;
  --blackColor: #000000;
  --shadow: rgba(80, 80, 80, 0.459);

  background-color: white;
  color: var(--textColor);
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: 'Montserrat', sans-serif;
}

body, html {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
