.photo_presentation {
  box-shadow: 0px 0px 12px 4px var(--shadow);
}
.container_subsection_presentation {
  padding-left: calc(10vw + 400px + 50px);
}

@media only screen and (max-width: 1023px) {
	.container_subsection_presentation {
    padding-left: 0;
    padding: 0 20px 0 20px;
  }
}