.video_container {
  position: relative;
  top: 0;
  width: 100%;
  min-width: 100vw;
  min-height: 65vh;
  overflow: hidden;
}

.color_front_video_container {
  position: absolute;
  top: 32;
  width: 100%;
  min-width: 100vw;
  min-height: 65vh;
  overflow: hidden;
}

.video_container video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}